@mixin background {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home {
    @include background;
    background-image: url('../images/background.png');
}

.javascript {
    @include background;
    background-image: url('../images/javascript.jpg');
}

.json {
    @include background;
    background-image: url('../images/json.jpg');
}

.html {
    @include background;
    background-image: url('../images/html.jpg');
}

.css {
    @include background;
    background-image: url('../images/css.jpg');
}

.journal {
    @include background;
    background-image: url('../images/journal.jpg');
}

.opacity {
    opacity: 0.7;
}

.blackOverlay {
    background-color: $headerDarken;
    position: relative;
}

.blackOverlay:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: $headerDarken;
}

.grayOverlay {
    background-color: $headerGray;
    position: relative;
}

.grayOverlay:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: $headerGray;
}

.whiteOverlay {
    background-color: $headerLighten;
    position: relative;
}

.whiteOverlay:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: $headerLighten;
}