/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$gray: #F5F5F5;
$header: #46BFEC;
$footer: #18283d;

$hover: #3794B6;
$hoverText: rgb(243, 219, 0);
$hoverHighlight: #00b51e;
$current: #5DD5FF;

$highlight: #cdcdcd;
$titleHighlight: rgba(255, 255, 255, 0.6);

$headerDarken: rgba(0, 0, 0, 0.3);

$comment: #00d400;
$code: #071109;
$codetext: #fff;

.gray {
    background-color: $gray;
}

.whiteText {
    color: white;
}