/* Globals
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@import url("https://fonts.googleapis.com/css?family=Cutive+Mono&display=swap");

$consoleFont: "Cutive Mono",
monospace;

body {
    width: 99%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

#outputDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 99.5vw;
    height: 50px;
    margin: 25px 0;
    padding: 7px 14px;
    background-color: #ddd;
    text-align: center;
    font-family: $consoleFont;
    transition: 1s ease;
}

#outputDiv:hover {
    transform: scaleY(1.2);
}

#QuoteText {
    margin-top: 50px;
    line-height: 20px;
    text-align: center;
    max-width: 500px;
    height: 150px;
    color: gray;
    margin-bottom: -50px;

    .quotemark {
        z-index: -1;
        float: left;
        font-family: Impact,
            sans serif;
        font-size: 100pt;
        color: black;
        position: relative;
        top: 28px;
        color: #cce4ff;
        left: 22px;
    }

    strong {
        font-size: 14pt;
        color: black;
    }
}

.center {
    text-align: center;
}

.opacity {
    transition: opacity 0.2s ease;
    opacity: 0.01;
}

.fullopacity {
    z-index: 101;
    transition: opacity 15s ease;
    opacity: 0.4;
}

.opacityfade {
    transition: opacity 1s ease;
    opacity: 1;
}

.hide {
    visibility: hidden;
    display: none;
    position: absolute;
}

audio {
    visibility: hidden;
}

@media (max-width: $minWidth) {
    #outputDiv {
        width: 96vw;
        font-size: 80%;
        margin-left: 0px;
        margin-top: 2px;
    }

    body {
        margin-left: -5px;
        margin-right: -25px;
        margin-top: 2px;
    }
}

canvas {
    z-index: 110;
    display: none;
    visibility: hidden;
    position: absolute;
    margin-left: 76px;
    width: 300px !important;
    height: 150px !important;
}