/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

footer {
    position: fixed;
    bottom: 20px;
}

@media (max-width: $minWidth) {

    footer {
        padding: 10px;
        margin-left: 10px;
    }
}